@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin ball {
  @include center;

  z-index: 2;
  display: block;
  margin-top: 4px;
  width: 3px;
  height: 3px;
  background: rgba(255, 255, 255, .5);
  border-radius: 50%;
  content: '';
  animation: ball .45s cubic-bezier(0, 0, .15, 1) alternate infinite;
}

body {
  overflow-y: hidden;
}

.desktopSidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 15%;
  min-width: 220px;
  height: 100%;
  background: #32465a;
}

.chat-container {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  background: #fff;
  line-height: 1.3;

  & .desktopSidebar {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 15%;
    min-width: 220px;
    height: 100%;
    background: #32465a;
  }
}

.chat {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 85%;
  height: 100%;
  background: rgba(148, 178, 211, .05);
  flex-direction: column;
}

.chat-title {
  position: relative;
  z-index: 2;
  padding: 10px 10px 10px 50px;
  text-align: left;
  color: #fff;
  background: rgba(0, 0, 0, .2);
  flex: 0 1 45px;
  text-transform: uppercase;

  h1,
  h2 {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-weight: normal;
  }

  h2 {
    font-size: 8px;
    color: rgba(255, 255, 255, .5);
    letter-spacing: 1px;
  }

  .avatar {
    position: absolute;
    top: 8px;
    left: 9px;
    z-index: 1;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 30px;
    height: 30px;
    border: 2px solid rgba(255, 255, 255, .24);
    border-radius: 30px;

    img {
      width: 100%;
      height: auto;
    }
  }
}

.bubbles__container {
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

@media (max-width: 992px) {
  .chat {
    width: 100%;
    height: 100%;
    max-height: none;
    border-radius: 0;
  }

  .desktopSidebar {
    display: none;
  }
}
