.single-avatar {
  display: flex;
  justify-content: center;

  label {
    display: inline-block;
    width: 70px;
    height: 70px;
    color: transparent;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 70%;
    background-color: #e9f4f6;
    border-radius: 30%;
    transition: .3s;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
  }

  input {
    display: none;
  }
}

@media (max-width: 576px) {
  .single-avatar {
    label {
      width: 55px;
      height: 55px;
    }
  }
}
