@import url('https://fonts.googleapis.com/css?family=Gudea:400');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@700&display=swap");
*{
  margin:0;
  padding: 0;
}

.join-body {
  perspective: 800px;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: "Gudea", sans-serif;
  background: #c7daf2;
  
  ::-webkit-input-placeholder {
    color: #4e546d;
  }
  .authent {
    background: #6c9bc4; 
    position: absolute;
    left: 0;
    right: 90px;
    margin: auto;
    width: 100px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    padding: 20px 70px;
    top: 400px;
    bottom: 0;
    height: 70px;
    opacity: 0;
    border-radius: 20px;
    transition: .8s ease-out;
    p {
      text-align: center;
      color: white;
      font-size: .9rem;
      font-family: 'Noto Sans TC', sans-serif ;
    }
    &.active{
      right: -400px;
      opacity: 1;
    }
  }
  .success {
    display: none;
    transition: .3s ;
    &.active{

      display: block;
      width: 100%;
      height: 100%;
      h2{
        color:#94b2d3;
        text-align: center;
        font-size: 2rem;
        padding-bottom: 180px;
      }
    }
  }
  
  .test {
    pointer-events: none;
    top: -100px !important;
    transform: rotateX(80deg) scale(0.8) !important;
    opacity: 0.8 !important;
  }
  .close > div > div{
    display: none;
  }
  .login {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width:500px;
    height: 60vh;
    margin: auto;
    opacity: 1;
    z-index: 2;
    -webkit-transition-timing-function: cubic-bezier(0.68, -0.25, 0.265, 0.85);
    transition-property: transform, opacity, box-shadow, top, left;
    transition-duration: 0.7s;
    transform-origin: 161px 100%;
    transform: rotateX(0deg);
    background: url(../../assets/join-background.png);
    background-repeat:no-repeat ;
    background-size:cover;
    padding: 60px 40px 50px 40px;

    .login-content{
      margin-top: 30px;

      
    }


    &.testtwo {
      left: -320px;
    }
    &.close{
      .login-content{
        position: absolute;
        top:30%;
        left: 50%;
        transform: translate(-50%,-50%);
        width: 100%;
      }
    }
    
    .disclaimer {
      position: absolute;
      bottom: 20px;
      left: 35px;
      width: 250px;
    }

    
    
    &_title {
      text-align: center;
      margin: 40px 0;

      p:nth-child(1){
        font-size: 2.5rem;
        color:#afb1be;
        margin-bottom: 30px;
      }
      p:last-child{
        color:#6d6d70;
      }
    }
    &_fields {
      display:flex;
      justify-content:center;
      align-items: center;
      margin-top: 40px;
      .icon {
        position: absolute;
        z-index: 1;
        left: 45px;
        top: 21.5px;
        opacity: 0.3;
        &.active{
          opacity:1;
        }
        
      }

      input[type="text"]{
        box-sizing: border-box;
        height: 50px;
        color: #94b2d3;
        margin:0 auto;
        font-size: 1.0rem;
        background: #fff;
        padding: 10px 20px;
        border:2px solid #94b2d3;
        border-bottom: 5px solid #94b2d3;
        border-radius:10px;
        text-align: center;
        outline: none;
        font-family: "Gudea", sans-serif;
        box-shadow: none;
        transition:.4s;
  
        &::placeholder{
          text-align: center;
          color:#94b2d3
        }
      }
      input[type="text"]:focus + .icon{
        opacity: 1;
      }
      &__user {
        margin-right: 30px;
      }
      &__submit {
        position: relative;
        display: flex;
        justify-content:space-around;
        align-items: center;
        button {
          box-sizing: border-box;
          height:50px;
          border: 2px solid #3f6e97;
          border-bottom: 5px solid #3f6e97;
          border-radius:10px;
          background: #5081ad;
          padding: 10px 30px;
          color: #fff;
          text-transform: uppercase;
          transition-duration: 0.2s;

          &:focus {
            box-shadow: none;
            outline: none;
          }
         
          &:hover {
            color: white;
            background: #3d6c94;
            border-bottom: 5px solid #325c81;
            cursor: pointer;
            transition-duration: 0.2s;
          }
          .progress{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            visibility: hidden;
            opacity: 0;
            transition: visibility 0s, opacity 0.5s linear;
          }
          .text {
            opacity: 1;
            transition: .3s linear;
          }
          &.check{
            .progress{
              visibility: visible;
              opacity: 1;
            }
            .text{
              opacity:0;
            }
          }



        }
        > div{
          font-size: .75rem;
          color:#afb1be;
          p:first-child{
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

@media (max-width:576px){
  .join-body{
    height: 100%;

    .login{


      width:auto;
      padding: 0;
      height: calc(var(--vh, 1vh) * 100);
      background-size: 100%;
      background-position: 5px center;
      .login-content{
        position: absolute;
        top: 38.5% !important;
        left:50%;
        transform: translate(-50%,-50%);
        width: 100%;
        margin-top: 0;
        .success{
          text-align: center;
          font-size:1.2rem ;
          &.active {
            h2{
              color:#94b2d3;
              font-size: 1.5rem;
              padding-bottom: 90px;
            }
          }
          
        }
      }
      &.test{
        top:-200px !important;
      }
      
      &.testtwo{
        left:0;
      }


      .login_title{
        p:first-child{
          font-size: 4rem;
        }
      }

      .login_fields{
        margin-top: 15px;
        .login_fields__user{
          margin-right: 0;
          & > input {
            padding: 5px;
            margin-right: 10px;
          }
        }
        .login_fields__submit{

          & > button {
            padding: 10px 20px
          }
        }
      }
    }

    .authent{
      top:0;
      left:0;
      right:0;
      bottom:-150px;

      &.active{
        z-index:3;
        right:0;
        bottom:0;
      }
    }


  }

  
}


