.switch-wrapper {
  position: relative;
}

.switch-wrapper > div {
  position: absolute;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
}

@media (max-width: 576px) {
  .switch-wrapper {
    position: static;
  }

  .switch-wrapper > div {
    position: static;
  }
}
