.desktopSidebar {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 15%;
    min-width: 220px;
    height: 100%;
    background:#32465a;
    
}

@media (max-width:992px){
    .desktopSidebar{
        display: none;
    }
}


