.project__description {
    position: absolute;
    left: 50%;
    bottom: 70px;
    display: flex;
    align-items: center;
    transform: translateX(-50%);
}

.project__info {
    font-size: 12px;
    margin-right: 20px;
    color: #5081ad;
    white-space: nowrap;
}

.github__link {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 10px rgba(rgb(255, 255, 255), 0.05);
}

.github__link__icon {
    width: 30px;
}

.project__info__version {
    text-align: left;
}

@media (max-width:992px){
    .sidebar{
        height:100%;
        overflow:hidden;
        overflow-y: hidden;
    }
}

@keyframes pulse {
    0% {
        transform: scale(.9);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 10px rgba(#FFF, 0);
    }

    100% {
        transform: scale(.9);
        box-shadow: 0 0 0 0 rgba(#fff, 0);
    }
}