.avatar-wrapper{
    width: 80%;
    margin:0 auto;
    margin-bottom: 5px;
    ul{
        display: flex;
        justify-content: center;
    }
    
    li{
        display: inline-block;
        margin:15px;
    }
    label{
        display: inline-block;
        box-sizing: border-box;
        width: 70px;
        height: 70px;
        background-repeat:no-repeat ;
        background-size: 70%;
        background-position: center center;
        border-radius: 30%;
        background-color: #E9F4F6;
        transition: .3s;
        cursor: pointer;
        &:hover{
            transform:scale(1.3);
        }


    }
    input{
        display: none;
        &:checked + label {
            background-color: #5c8eb9;
            transform:scale(1.2);
        }
    }

}

@media (max-width:576px){
    .avatar-wrapper{
        li{
            margin:10px
        }
        label{
            width: 55px;
            height: 55px;
        }
    }
}

